/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
$info: #345995;
$primary: #03CEA4;
$danger: #E40066;
$warning: #FF9F1C;
$dark: #011627;
$font-family: 'Open Sans', sans-serif;
$font-family: 'Oswald', sans-serif;
$font-family: 'Roboto', sans-serif;
@import "bulma";

html {
  background-color: #345995;;
}

.sign-in-box{
  width: 400px;
  margin-left: 50px;
}

.navbar{
  border-top: solid 2px black;
  border-bottom: solid 3px black;
}

.logo-box{
  height: 100%;
  width: 300px;
  display: flex;
  align-self: center;
  margin-left: 13px;
}

.dtc-logo{
  height: 75px;
  width: auto;
}

.bold{
  font-weight: bold;
}

.donation-metrics{
  display: flex;
  width: 100%;
  justify-content: center;
}

.metric-square{
  width: 125px;
  height: 130px;
  font-weight: bold;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-top: 0.25%;
  margin-bottom: 0.75%;
  margin-left: 2%;
  margin-right: 2%;
}

.donors-circle{
  background-color: $primary;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  color: white;
}

.donations-circle{
  background-color: $danger;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  color: white;
}

.kids-circle{
  background-color: $warning;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  color: white;
}

.columns{
  margin-top: 3%;
}

.donation-table {
  background-color: whitesmoke;
  border: 1px solid black;
  width: 100%;
}

thead {
  background-color: rgb(157, 199, 206);
  color: black;
}

tr {
 border: 1px solid black;
}

th, td {
  padding: 5px;
}

td {
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.subtotal-row {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 32px;
  border: 1px solid black;
  background-color: whitesmoke;
  color: black;
  text-align: center; 
  font-weight: bold;
}

#donate-form{
  border-color: #ffffff;
  padding: 10%;
}

.title{
  color: white;
}

#start_date{
  width: 25%;
  height: 2rem;
  margin: 2%;
}

#end_date{
  width: 25%;
  height: 2rem;
  margin: 2%;
}

.button{
  margin-top: 1.8%;
}

.input{
  margin-top: 4%;
  margin-bottom: 1%
}

.filter-form{
  margin-left: 40%
}