/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
$info: #345995;
$primary: rgb(7, 184, 148);
$danger: rgb(207, 10, 99);
$warning: rgb(245, 147, 0);
$dark: #470661;
$table-row-hover-background-color: rgb(7, 184, 148);
$font-family: 'Open Sans', sans-serif;
$font-family: 'Oswald', sans-serif;
$font-family: 'Roboto', sans-serif;
@import "bulma";

html{
  background-color: rgb(64, 69, 71);
}

input:-webkit-autofill{
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.devise-box{
  width: 400px;
  margin-left: 50px;
}

.links{
  color: white;
}

.navbar{
  height: 7rem;
}

.dtc-logo{
  height: 80%;
  margin: .5rem;
}

.navbar-item{
  display: inline-block;
  text-align: right;
}

#sign-out-btn{
 margin-bottom: .5rem;
 margin-top: .5rem;
}

.circles{
  margin: auto;
}

.metric-square{
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  color: white;
  text-align: center;
  margin: .5rem;
}

.donors-circle{
  width: 120px;
  line-height: 120px;
  border-radius: 50%;
  text-align: center;
  font-size: 20px;
  font-weight: bold; 
  background-color: $dark;
  color: white;
}

.donations-circle{
  width: 125px;
  line-height: 125px;
  border-radius: 50%;
  text-align: center;
  font-size: 20px;
  font-weight: bold; 
  background-color: $primary;
  color: white;
}

.stripe-circle{
  width: 120px;
  line-height: 120px;
  border-radius: 50%;
  text-align: center;
  font-size: 20px;
  font-weight: bold; 
  background-color: $link;
  color: white;
}

.checks-circle{
  width: 120px;
  line-height: 120px;
  border-radius: 50%;
  text-align: center;
  font-size: 20px;
  font-weight: bold; 
  background-color: $warning;
  color: white;
}

.kids-circle{
  width: 120px;
  line-height: 120px;
  border-radius: 50%;
  text-align: center;
  font-size: 20px;
  font-weight: bold; 
  background-color: $danger;
  color: white;
}

#main{
  text-align: center;
  margin-top: 1rem;
}

.title{
  color: white;
  font-family: 'Roboto', sans-serif;
}

#filter-form{
  font-family: 'Roboto', sans-serif;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#start, #end{
  width: 12rem;
}

input{
  margin: .5rem;
}

#filter-btn{
  font-family: 'Roboto', sans-serif;
  margin: .5rem;
}

.table{
  background-color: rgb(64, 69, 71);
  margin-bottom: 1rem;
}

thead{
  font-family: 'Open Sans', sans-serif;
  font-size: 19px;
  background-color: rgba(255, 255, 255, 0.76);
}

tbody{
  color: rgba(255, 255, 255, 0.926);
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
}

p{
  color: white;
  margin: .5rem;
  font-family: 'Roboto', sans-serif;
}

#date, #name, #city, #state, #email, #amount{
  width: 20rem;
}

.far{
  margin-left: 1rem;
  color: $danger;
}

.fas{
  margin-top: 1rem;
  margin-left: 1rem;
}

#back-btn {
  margin-top: .5rem;
}