/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
$info: #345995;
$primary: #03CEA4;
$danger: #E40066;
$warning: #FF9F1C;
$dark: #011627;
$font-family: 'Open Sans', sans-serif;
$font-family: 'Oswald', sans-serif;
$font-family: 'Roboto', sans-serif;
@import "bulma";

html {
  background-color: #345995;;
}

.sign-in-box{
  width: 400px;
  margin-left: 50px;
}

#start_date{
  width: 200px;
  height: 35px;
  margin: 15px;
}

#end_date{
  width: 200px;
  height: 35px;
  margin: 15px;
}

.button{
  width: 150px;
  height: 35px;
  margin: 15px;
}

.donation-table {
  background-color: whitesmoke;
  width: 925px;
  border: 1px solid black;
  text-align: center; 
  margin-left: auto; 
  margin-right: 3%; 
  margin-bottom: 2%; 
}

thead {
  background-color: rgb(157, 199, 206);
  color: black;
}

tr {
 border: 1px solid black;
}

th, td {
  padding: 5px;
}

td {
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.subtotal-row {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 32px;
  border: 1px solid black;
  background-color: whitesmoke;
  color: black;
  text-align: center; 
  font-weight: bold;
}